name: Linting and Formatting

on:
  push:
    paths-ignore:
      - "**.md"
      - "docs/**"
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"
    branches:
      - main


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.10"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run Ruff
        run: uv run ruff check fluxcrud

      - name: Run Ruff formatting check
        run: uv run ruff format --check fluxcrud
